//grayScale
$clr01: #fff;
$clr02: #b3b3b3;
$clr03: #7f7f7f;
$clr04: #535353;
$clr05: #404040;
$clr06: #282828;
$clr07: #121212;
$clr08: #000;

// colors
$bgColor: rgb(252, 248, 245);

$desktop-width: 1440px;
$mobile-width: 375px;

// layout Breakpoints
$mobile-breakpoint: 450px;
$narrow-breakpoint: 860px;
$wide-breakpoint: 860px;
$wide-normal-breakpoint: 1100px;

// layout vars

// backgrounds
